/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 1, 2023, 1:01:05 AM
    Author     : Rakibur Rahman
*/

#background{
    
  -fx-background-color:linear-gradient(to bottom right, #252d50, #324f6b);
}
#anchorpane2{
    
    -fx-background-color: #66ff66 ;
}

#Login{
    
   -fx-background-color:linear-gradient(to bottom right, #252d50, #324f6b);
}
#studentlogin{
    
   -fx-background-color:linear-gradient(to bottom right, #252d50, #324f6b);
}